$logo: url("images/LogoOnly.png");

$background: url("images/spacebackground.gif");

$hdrimg: url("images/largeheaderimg.gif");

$astronaut: url('images/astronaut-ingravity.svg');
$world: url("images/worldwide.svg");
$rocketlaunch: url("images/rocket-launch.svg");
$rocketfly: url("images/rocket-ship.svg");
$saturn: url("images/saturn.svg");
$threestar: url("images/3star.svg");
$star: url("images/star.svg");
