@import url('https://fonts.googleapis.com/css?family=Galindo|K2D');
@import url('https://fonts.googleapis.com/css?family=K2D');
    
@import 'partials/image-variable.scss';
@import 'partials/color-variable.scss';
@import 'partials/typography.scss';
@import 'partials/links.scss';

//Queiries Part 1 - Breakpoints
$break-small: 20em;
$break-medium: 31em;
$break-large: 90em;

 //Queiries Part 2
@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    }
    @else if $break == medium {
        @media (min-width: $break-medium) { @content; }
    }
    @else if $break == small {
        @media (min-width: $break-small) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}

//small layout code here
////////// MAIN BODY OF CODE /////
@import 'partials/basiclayout.scss';

@import 'partials/footer.scss';

//////////////////////////////////////
@import 'partials/mediumscreen.scss';

//////////////////////////////////////
@import 'partials/largescreen.scss';