@import url('https://fonts.googleapis.com/css?family=Galindo|K2D');
@import url('https://fonts.googleapis.com/css?family=K2D');
    
@import 'image-variable.scss';
@import 'color-variable.scss';

$bodytext: 'K2D', sans-serif;
$headertext: 'Galindo', cursive;

//Queiries Part 1 - Breakpoints
$break-small: 20em;
$break-medium: 31em;
$break-large: 90em;

 //Queiries Part 2
@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    }
    @else if $break == medium {
        @media (min-width: $break-medium) { @content; }
    }
    @else if $break == small {
        @media (min-width: $break-small) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}

//small layout code here

////////// MAIN BODY OF CODE /////
    * {
        box-sizing: border-box;
    }
    h1, h2, h3,h4, h5,h6 {
        font-family: $headertext;
        text-align: center;
    }

    #css-zen-garden {
        background-image: $background;
        font-family: $bodytext;
    }

    header {
        background-image: $background;
        background-repeat: no-repeat;   
        z-index: 1;
        width: 100%;
        left: 0;
        top: 0;
        color: white;
        text-align: center;
        
        position: fixed;
        z-index: 1;
    
    }

    footer {
        background-image: $background;
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 100%;
            bottom: 0px;
            right: 0;
        z-index: 1;
    }
    footer a {color: white;}

    .page-wrapper {
        margin: auto;
        width: 80%;

        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;

    }
/////Main Content design for Boxes///////
//Intro - Header and boxes for Summary and Preamble
        .intro  {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    //Intro Items
        .intro > div {
            padding: 10px;
            margin: 10px;
            width: 200px;
        }
        .intro > div:nth-child(2) { 
            flex-grow: 1; 
            background-color: white;}

        .intro > div:last-child { 
            flex-grow: 3; 
            background-color: white;}

//main class - explanation, participation, requirements, and footer
        .main {
            padding: 10px;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }
    //Main Items
        .main > div {
            padding: 10px;
            margin: 10px;
            width: 200px;
        }
        .main > div:nth-child(1) { 
            flex-grow: 4; 
            width: 100%; 
            background-color: white;}
        .main > div:nth-child(2) { 
            flex-grow: 2; 
            background-color: white;}
        .main > div:nth-child(3) { 
            flex-grow: 2; 
            background-color: white;}
        .main > div:nth-child(4) { 
            flex-grow: 2; 
            width: 100%; 
            background-color: white;}

//sidebar - selection, archives and resources
    .sidebar {
        background-color: white;
        padding: 20px;
        padding-bottom: 30px;
    }


//////////////////////////////////////////
@include breakpoint(medium) {
  //medium screen code
   
   header {   
    background-position:  200px -10px;
    background-size:  100px;
    
    z-index: 1;
       
    }
    
    header {
        background-image: $background;
        background-repeat: repeat;   
        width: 100%;
    }
        
}

//////////////////////////////////////////
@include breakpoint(large) {
   //large screen code
    
    div, #zen-summary {
        margin-left: 50px;
    }

    .sidebar .wrapper { 
        margin: 0;
        margin-left: -50px;
    }
    
    .sidebar {
    width: 190px;
    position: absolute;
    z-index: 0;
    
    left: 0;
    top: 100px;
        
    padding: 20px;
    padding-top: 20px;
    }

    footer {
        padding: 10px;
        padding-top: 15px;
    }
    
}