/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	border: 4px outset $color-4;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 1.4rem;
		family: $secondary-font;
	}
	color: $color-3;
    //text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black, -1px -1px 0 black;
	padding: .6em 2.2em;
	cursor: pointer;
	background: $color-1;
    &:active {
        border: 4px inset $color-4;
    }
	&:focus {
		outline: none;
	}
	.no-touch &:hover {
		background: lighten($color-1, 15%);
        box-shadow: -2px 2px 5px 0px #888888;
	}

	&.btn-success {
		background: $success;
        color: $color-6;
		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;
        color: $color-6;
		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}
	&.btn-outline {
		color: $color-3;
		background: transparent;
		box-shadow: outset 0 0 0 1px $color-4;

		.no-touch &:hover {
			color: $color-6;
			background: $color-1;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-3;
}
