// color palette - these colors will be the color swatches of the Colors section

$color-1: #240047; // backgroundcolor - Fraction
$color-2: #1C0021; // Body Text - Nightmare
$color-3: #F1A930; // Link/Header - Golden Pineapple
$color-4: #ED8F45; // Other Link - Ripe Pineapple
$color-5: #283C00; // - Unripe Green
$color-6: #ffffff; // Background for boxes - white 
$color-7: #64997D; //Light Green
$color-8: #FECC6D; //Light Yellow

// additional colors

$success: #64997D; // Success - Pineapple Tops
$alert: red;  // red