/* -------------------------------- 

xElements

-------------------------------- */

 .bulletStar {
    list-style: url('../assets/icons/star.svg');
     font-size: 3rem;
}
.bulletStar li {
    margin-left: 2rem;
}
.bulletStar span {
    font-size: 1rem;
}



figure {
    @include polaroid1;
}
figcaption {
    @include polaroid2;
}